@page
@model FinalProject_skinsinger.Pages.Sauces.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sauce[0].SauceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sauce[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sauce) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SauceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SauceId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SauceId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SauceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
